/* Import Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Material+Icons|Roboto:200,300,400,600,700,800,900|Muli:200,300,400,600,700,800,900|Bitter:400,700|Roboto:100,300,400,500,700,900|Righteous:100,200,300,400,500,600,700,800,900|Cairo:100,200,300,400,500,600,700,800,900|Cairo:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900';

/* Set a unified style */
*{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style:none;
	border:0px;
}
body{
	font-size:12px;
	font-family:'Roboto';
	background:#FBFBFB;
}
a{
	-webkit-transition:all ease 0.3s;
	transition:all ease 0.3s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.lx-main-menu-scroll::-webkit-scrollbar {
    width: 10px;
}
.lx-main-menu-scroll::-webkit-scrollbar-track {
	background:#023047;
}
.lx-main-menu-scroll::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.0);
}
.lx-main-menu-scroll:hover::-webkit-scrollbar-thumb {
	background:rgba(102,112,121,1.0);
	border-radius:10px;
}

.lx-left-bg::-webkit-scrollbar {
    width: 10px;
}
.lx-left-bg::-webkit-scrollbar-track {
	background:#EEEEEE;
}
.lx-left-bg::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.0);
}
.lx-left-bg:hover::-webkit-scrollbar-thumb {
	background:rgba(102,112,121,1.0);
	border-radius:10px;
}

.lx-notifications-list div::-webkit-scrollbar {
    width: 10px;
}
.lx-notifications-list div::-webkit-scrollbar-track {
	background:#EEEEEE;
}
.lx-notifications-list div::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.0);
}
.lx-notifications-list div:hover::-webkit-scrollbar-thumb {
	background:rgba(102,112,121,1.0);
	border-radius:10px;
}

/* Create a custom checkbox */
input[type="checkbox"],input[type="radio"]{
	opacity:0.0;
	margin-right:10px;
}
.checkmark {
	position:absolute;
	top:-3px;
	left:0px;
	height:20px;
	width:20px;
	background:#FFFFFF;
	border:1px solid #DDDDDD;
}
.circlemark {
	position:absolute;
	top:-3px;
	left:0px;
	height:20px;
	width:20px;
	background:#FFFFFF;
	border:1px solid #DDDDDD;
	border-radius:50%;
}
label:hover input ~ .checkmark,label:hover input ~ .circlemark{
	background:#F8F8F8;
}
label input:checked ~ .checkmark,label input:checked ~ .circlemark{
	background:#FFFFFF;
}
.checkmark:after,.circlemark:after {
	content:"";
	position:absolute;
	display:none;
}
label input:checked ~ .checkmark:after,label input:checked ~ .circlemark:after {
	display: block;
}
label .checkmark:after {
	left:5px;
	top:1px;
	width:5px;
	height:10px;
	border:1px solid #fb8500;
	border-width:0px 3px 3px 0px;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
label .circlemark:after {
	left:4px;
	top:4px;
	width:10px;
	height:10px;
	background:#fb8500;
	border-radius:50%;
}

/* Set a clear fix */
.lx-clear-fix{
	clear:both;
}

/* Set the layouts */
.lx-g1{
	position:relative;
	width:100%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g1-f{
	position:relative;
	width:100%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g2{
	float:left;
	position:relative;
	width:50%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g2-f{
	float:left;
	position:relative;
	width:50%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g3{
	float:left;
	position:relative;
	width:33.33%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g3-f{
	float:left;
	position:relative;
	width:33.33%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g3-2{
	float:left;
	position:relative;
	width:66.66%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g3-2-f{
	float:left;
	position:relative;
	width:66.66%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g4{
	float:left;
	position:relative;
	width:25%;
	padding:15px;
	opacity:1.0;
}
.lx-g4-f{
	float:left;
	position:relative;
	width:25%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g4-3{
	float:left;
	position:relative;
	width:75%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g4-3-f{
	float:left;
	position:relative;
	width:75%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5{
	float:left;
	position:relative;
	width:20%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-f{
	float:left;
	position:relative;
	width:20%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-2{
	float:left;
	position:relative;
	width:40%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-2-f{
	float:left;
	position:relative;
	width:40%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-3{
	float:left;
	position:relative;
	width:60%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-3-f{
	float:left;
	position:relative;
	width:60%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-4{
	float:left;
	position:relative;
	width:80%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g5-4-f{
	float:left;
	position:relative;
	width:80%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g6{
	float:left;
	position:relative;
	width:16.66%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g6-f{
	float:left;
	position:relative;
	width:16.66%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g6-5{
	float:left;
	position:relative;
	width:83.33%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g6-5-f{
	float:left;
	position:relative;
	width:83.33%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g8{
	float:left;
	position:relative;
	width:12.5%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g8-f{
	float:left;
	position:relative;
	width:12.5%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g8-7{
	float:left;
	position:relative;
	width:87.5%;
	padding:15px;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.lx-g8-7-f{
	float:left;
	position:relative;
	width:87.5%;
	opacity:1.0;
	
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
@media(max-width:768px){
	.lx-g1{
		width:100%;
	}
	.lx-g1-f{
		width:100%;
	}
	.lx-g2{
		width:100%;
	}
	.lx-g2-f{
		width:100%;
	}
	.lx-g3{
		width:100%;
	}
	.lx-g3-f{
		width:100%;
	}
	.lx-g3-2{
		width:100%;
	}
	.lx-g3-2-f{
		width:100%;
	}
	.lx-g4{
		width:100%;
	}
	.lx-g4-f{
		width:100%;
	}
	.lx-g4-3{
		width:100%;
	}
	.lx-g4-3-f{
		width:100%;
	}
	.lx-g5{
		width:100%;
	}
	.lx-g5-f{
		width:100%;
	}
	.lx-g5-2{
		width:100%;
	}
	.lx-g5-2-f{
		width:100%;
	}
	.lx-g5-3{
		width:100%;
	}
	.lx-g5-3-f{
		width:100%;
	}
	.lx-g5-4{
		width:100%;
	}
	.lx-g5-4-f{
		width:100%;
	}
	.lx-g6{
		width:100%;
	}
	.lx-g6-f{
		width:100%;
	}
	.lx-g6-5{
		width:100%;
	}
	.lx-g6-5-f{
		width:100%;
	}
	.lx-g8{
		width:100%;
	}
	.lx-g8-f{
		width:100%;
	}
	.lx-g8-7{
		width:100%;
	}
	.lx-g8-7-f{
		width:100%;
	}
}
